.btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 20px;
  background:#E1306C;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}
.btn:hover{
  background:#c1275a;
}